@import "../../scss/variables.scss";

.custom-button {
	border: none;
	outline: none;
	color: $primary-bg;
	background-color: $secondary-text;
	padding: $xs-gap $s-gap;
	border-radius: $s-br;
	cursor: pointer;
	font-weight: 600;
	font-size: 0.9rem;
	letter-spacing: 1px;
	display: inline-block;
	transition: $all;

	&:hover {
		background-color: $secondary-text-hov;
	}

	a {
		color: $primary-bg;
	}
}

.trial-btn {
	position: relative;

	&::after {
		content: "*Recommended (Testing)";
		position: absolute;
		top: -45%;
		right: 1%;
		color: #6b6b6b;
		font-size: 0.7rem;
	}
}
