@import "../../scss/variables.scss";

.login-container {
	width: 100%;
	max-width: 550px;
	background-color: $primary-bg;
	padding: $m-gap;
	margin: $l-gap auto $m-gap auto;
	border-radius: $s-br;
	box-shadow: $box-shadow;

	@media screen and (min-width: $desktop) {
		margin: $s-gap auto;
		padding-bottom: $xs-gap;
	}

	h2 {
		width: 100%;
		text-align: center;
	}

	.message-modal {
		width: 100%;
		font-size: 0.85rem;
		text-align: center;
		color: $logo-red;
		font-weight: 700;
		transform: translateY($xs-gap);
	}

	.login-btn {
		width: 80%;
		margin: $m-gap auto;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: center;
	}

	.spinner {
		width: 30px;
		height: 30px;
		margin-left: $m-gap;
	}

	.other-auths {
		text-align: center;

		p:nth-child(1) {
			font-size: 0.8rem;
			margin-bottom: $xs-gap;
		}
		p:nth-child(3) {
			font-size: 0.8rem;
			margin: $xs-gap 0;
		}
		button {
			margin: $xs-gap auto;
		}
		.trial-btn {
			width: 90%;
			margin-top: $s-gap;
		}

		@media screen and (min-width: $desktop) {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: baseline;

			p:nth-child(1) {
				width: 100%;
			}
			button {
				margin: $s-gap 0;
			}
			.trial-btn {
				width: unset;
			}
		}
	}
}
