@import "../../../scss/variables.scss";

.exist-user-teams-cont {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease-in-out;

	& > * {
		width: 100%;
	}

	.error-message-modal,
	.success-message-modal {
		margin: $m-gap auto 0 auto;
		transition: $all;
		@media screen and (min-width: $tablet) and (max-width: $desktop) {
			margin-top: $l-gap;
		}
	}

	.team-actions {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		margin: $m-gap auto 0 auto;

		.custom-button {
			padding: $xs-gap;
		}

		@media screen and (min-width: 450px) {
			max-width: 430px;
			.custom-button {
				padding: $xs-gap $s-gap;
			}
		}
	}

	.team-actions-head {
		width: 100%;
		margin-bottom: $s-gap;

		@media screen and (min-width: $tablet) {
			margin-bottom: $m-gap;
		}
	}

	@media screen and (min-width: $tablet) {
		.exist-user-head {
			width: max-content;
		}
		.team-actions {
			width: max-content;
			max-width: unset;
			margin: 0;
			justify-content: flex-end;
			gap: 0 $s-gap;
			position: relative;

			.team-actions-head {
				position: absolute;
				bottom: -75%;
				left: 30%;
				width: unset;
				margin-bottom: 0;
			}
		}
	}

	.current-teams {
		margin: $m-gap auto 0 auto;

		.teams-list {
			display: flex;
			flex-flow: row wrap;
			align-items: stretch;
			gap: $m-gap $s-gap;

			.team {
				width: 100%;
				max-width: 480px;
				margin: 0 auto;
				padding: $m-gap $s-gap;
				border-radius: $s-br;
				background-color: $secondary-bg;
				background-image: url("../../../images/curves.svg");
				background-size: contain;
				background-repeat: no-repeat;
				background-position: bottom 0px right -25px;
				display: flex;
				flex-flow: column nowrap;
				align-items: flex-start;
				box-shadow: $box-shadow-sm;

				@media screen and (min-width: $tablet) {
					width: 48.8%;
					max-width: 540px;
					margin: 0;
				}

				@media screen and (min-width: 1200px) {
					width: 32.2%;
				}

				h3 {
					text-transform: capitalize;
				}

				.team-description {
					margin: $s-gap 0;
					line-height: 1.7;
					flex: 1;
				}

				.custom-button {
					margin-top: 1.5rem;
				}
			}
		}
	}
}

.disp-lg {
	display: none;
	@media screen and (min-width: $desktop) {
		display: block;
	}
}

.disp-sm {
	display: block;
	@media screen and (min-width: $desktop) {
		display: none;
	}
}

.hide-exist-teams {
	opacity: 0;
	visibility: hidden;
}
