@import "../../../scss/variables.scss";

.teams-navbar-cont {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;

	@media screen and (min-width: $desktop) {
		margin-top: $xs-gap;
	}

	.teamUp-logo-cont {
		width: 150px;
		.logo-text {
			font-size: 1.5rem;
		}
	}
}
