@import "../../../scss/variables.scss";

// teams-navbar
.teams-navbar-cont .teams-navbar {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: $l-gap;

	@media screen and (min-width: $desktop) {
		margin-top: $xs-gap;
	}

	.teamUp-logo-cont {
		width: 150px;
		.logo-text {
			font-size: 1.5rem;
		}
	}
}

// dashboard-navbar
.teams-navbar-cont .dashboard-navbar {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	position: relative;
	margin-top: -$s-gap;
	margin-bottom: $s-gap;
	padding-bottom: 1.7rem;
	border-bottom: 2px solid $input-border;

	@media screen and (min-width: $desktop) {
		flex-flow: row nowrap;
		margin-top: -$xs-gap;
		padding-bottom: 0;
		border: none;
	}

	& > * {
		width: 100%;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		gap: $xs-gap;
	}

	.user-profile-cont {
		position: absolute;
		right: 0;
		top: $s-gap;
		.user-profile-icon {
			border-color: $primary-bg;
		}
		@media screen and (min-width: $desktop) {
			position: initial;
			.user-profile-modal {
				top: 75px;
			}
		}
	}

	.nav1-margin {
		margin-bottom: $m-gap;
		@media screen and (min-width: $desktop) {
			margin-bottom: 0;
		}
	}

	.dashboard-nav1 {
		width: 80%;
		transition: $all;

		.custom-icon-cont {
			width: 48px;
			padding: 4px;
		}

		@media screen and (min-width: $desktop) {
			width: 40%;
			gap: $s-gap;

			.custom-icon-cont {
				width: 45px;
			}
		}

		.search-task-form {
			position: relative;

			.search-task {
				input {
					border-color: $secondary-text;
					border-radius: $s-br;
					padding: 0.6rem $xs-gap;
					@media screen and (min-width: $desktop) {
						padding: 7px $s-gap;
					}
				}
			}

			.search-message {
				position: absolute;
				bottom: -15%;
				left: 0%;
				width: 100%;
				font-size: 0.8rem;
				text-align: center;
				font-weight: 500;
			}

			.search-controls {
				position: absolute;
				top: 26%;
				right: 3%;

				.submit-search-form {
					background: $primary-bg;
					padding: 6px 0 6px $s-gap;
					svg {
						font-size: 1.5rem;
						color: $secondary-text;
					}
				}
				.reset-search-form {
					background: $primary-bg;
					padding: 6px 0 6px $s-gap;
					svg {
						font-size: 1.5rem;
						color: $logo-red;
					}
				}
			}
		}
	}

	.dashboard-nav2 {
		@media screen and (min-width: $desktop) {
			width: 60%;
			justify-content: flex-end;
			gap: $s-gap;
		}
		.new-task-btn {
			margin-right: auto;
			border: 2px solid $secondary-text;
			padding: $xs-gap;
			@media screen and (min-width: $desktop) {
				padding: 5px $s-gap 5px $xs-gap;
				margin-right: 0;
			}
		}
	}
}
