@import "../../../scss/variables.scss";

.create-task-cont {
	// position: absolute;
	// top: 5.4rem;
	// background: $secondary-bg;
	// border-radius: $s-br;
	// padding: $m-gap $s-gap;
	// width: 100%;
	// max-width: 580px;
	// left: 50%;
	// transform: translate(-50%, 0);
	// z-index: 999;

	// @media screen and (min-width: $desktop) {
	// 	top: 6.4rem;
	// }

	position: relative;
	background: $secondary-bg;
	border-radius: $s-br;
	padding: $m-gap $s-gap;
	width: 100%;
	max-width: 580px;
	margin: 0 auto;
	z-index: 999;

	.close-icon {
		position: absolute;
		top: $m-gap;
		right: $s-gap;
		font-size: 1.8rem;
		color: $logo-red;
		cursor: pointer;
	}

	h3 {
		margin-bottom: $s-gap;
	}

	.create-task-form {
		.custom-input {
			margin: $xs-gap 0;
		}
		.custom-textarea {
			margin: $s-gap 0;
		}
	}
}
