@import "../../../scss/variables.scss";

.create-task-cont {
	position: relative;
	background: $secondary-bg;
	border-radius: $s-br;
	padding: $m-gap $s-gap;
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	z-index: 999;

	@media screen and (min-width: $desktop) {
		max-width: 620px;
	}

	.close-icon {
		position: absolute;
		top: $m-gap;
		right: $s-gap;
		font-size: 1.8rem;
		color: $logo-red;
		cursor: pointer;
	}

	.create-task-form {
		.custom-input {
			margin: $xs-gap 0;
		}

		.custom-textarea {
			margin: $s-gap 0;
		}

		.attachments input {
			padding: $s-gap $s-gap $s-gap 2.5rem;
		}

		.attachments .input-icon {
			bottom: 20%;
		}

		@media screen and (min-width: $desktop) {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;

			& > * {
				width: 100%;
			}

			.custom-textarea {
				margin: $xs-gap 0;
			}

			.custom-select {
				width: 50%;
			}

			.custom-input .input-icon {
				left: 2%;
			}
		}

		.create-task-btn {
			width: max-content;
			margin: $s-gap auto 0 auto;
		}
	}
}
