@import "../../scss/variables.scss";

.user-profile-cont {
	.user-profile-icon {
		border-radius: $s-br;
		border-color: $low-bg;
		color: $primary-text;
		background: linear-gradient(-45.72deg, #a2facf 7.09%, #6a9dd8 96.61%);
	}

	.user-profile-modal {
		position: absolute;
		right: 0;
		top: 55px;
		text-align: center;
		padding: $m-gap;
		border-radius: $s-br;
		background: $secondary-bg;
		cursor: default;
		opacity: 0;
		visibility: hidden;
		transform: scale(0);
		transition: all 0.3s ease-in-out;
		z-index: 999;
		border: 2px solid $low-text;

		.user-name {
			text-transform: capitalize;
			margin-top: $s-gap;
		}
		.user-email {
			margin: 2px 0 $s-gap 0;
		}
		.user-image {
			width: 50px;
			height: 50px;
			margin: 0 auto;
			font-weight: 700;
			font-size: 1.1rem;
			display: grid;
			place-items: center;
			border-radius: 50%;
			border: 2px solid #6a84a7;
			background: linear-gradient(-45.72deg, #a2facf 7.09%, #6a9dd8 96.61%);
		}

		.custom-button {
			margin: 0 auto;
		}
	}

	.show-profile {
		opacity: 1;
		visibility: visible;
		transform: scale(1);
	}
}
