@import "../../scss/variables.scss";

.user-profile-cont {
	.user-profile-icon {
		border-radius: 50%;
		border-color: $low-bg;
		color: $primary-text;
		background: linear-gradient(-45.72deg, #a2facf 7.09%, #6a9dd8 96.61%);
	}

	.user-profile-modal {
		position: absolute;
		right: 0;
		top: 55px;
		text-align: center;
		padding: $s-gap $m-gap;
		border-radius: $s-br;
		background: $primary-bg;
		cursor: default;
		opacity: 0;
		visibility: hidden;
		transform: scale(0);
		transition: all 0.3s ease-in-out;

		.user-name {
			text-transform: capitalize;
			margin-top: $xs-gap;
		}
		.user-email {
			margin-bottom: $xs-gap;
		}

		.user-image {
			width: 50px;
			border-radius: 20%;
			margin: 0 auto;
		}
	}

	.show-profile {
		opacity: 1;
		visibility: visible;
		transform: scale(1);
	}
}
