@import "../../scss/variables.scss";

.teams-container {
	min-height: calc(100vh - 4rem);

	.spinner-cont {
		width: 100%;
		height: calc(100vh - 4rem);
	}

	.message-modal {
		text-align: center;

		p {
			color: $logo-red;
			margin: $l-gap 0 $m-gap 0;
			font-weight: 500;
			width: 100%;
		}

		h5 {
			width: 100%;
			margin-bottom: $m-gap;
			word-spacing: 3px;
		}

		.redirects {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			align-items: center;

			h4 {
				margin: 0 $m-gap;
			}
		}
	}
}
