@import "../../scss/variables.scss";

.teams-container {
	max-width: $max-width;
	margin: 0 auto;

	.spinner-fullscreen {
		height: calc(100vh - 7rem);
		display: grid;
		place-items: center;
		align-content: center;

		.custom-button {
			margin-top: $m-gap;
		}
	}
}
