@import "../../scss/variables.scss";

.teamUp-logo-cont {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	width: max-content;
	cursor: default;

	.logo-image {
		width: 50px;
	}

	.logo-text {
		margin-left: $xs-gap;
		font-size: 1.8rem;

		.red-text {
			color: $logo-red;
		}
		.blue-text {
			color: $logo-blue;
		}
	}
}
