@import "../../../scss/variables.scss";

.task-window-cont {
	position: relative;
	z-index: 999;
	background: $secondary-bg;
	border-radius: $s-br;
	padding: $m-gap $s-gap;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;

	.save-changes {
		margin: $s-gap auto 0 auto;
	}
	.error-message-modal {
		margin: 1.5rem auto 0 auto;
	}

	.task-nav {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		gap: $xs-gap;

		.team-name {
			text-transform: capitalize;
			font-weight: 400;
			font-size: 1.4rem;
		}
		.close-icon {
			color: $logo-red;
			font-size: 2rem;
			margin-left: auto;
			cursor: pointer;
			min-width: 34px;
		}
	}

	.task-name-cont {
		margin: $s-gap 0 1.5rem 0;

		.task-icon {
			font-size: 1.7rem;
			margin-right: $xs-gap;
			transform: translateY(5px);
		}
	}

	.task-type-priority {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		gap: 1.5rem;

		.task-type {
			text-transform: capitalize;
			padding: $xs-gap $s-gap;
			border-radius: $m-br;
			color: $secondary-text;
			background: $secondary-text-hov;
			border: 2px solid $secondary-text;
		}
		.task-priority {
			text-transform: capitalize;
			padding: $xs-gap $s-gap;
			border-radius: $m-br;
		}
		.low-clr {
			background: $low-bg;
			color: $low-text;
			border: 2px solid $low-text;
		}
		.medium-clr {
			background: $med-bg;
			color: $med-text;
			border: 2px solid $med-text;
		}
		.high-clr {
			background: $high-bg;
			color: $high-text;
			border: 2px solid $high-text;
		}

		.custom-select {
			width: 150px;
			label {
				display: none;
			}
			select {
				padding: $xs-gap;
				width: 100%;
				font-weight: 500;
				option {
					font-weight: 600;
					color: $primary-text;
					background: $primary-bg;
					margin: 5px 0;
				}
			}
			&::after {
				left: 115px;
				top: 42%;
				opacity: 0.5;
			}

			@media screen and (min-width: $desktop) {
				width: 170px;
				&::after {
					left: 140px;
				}
			}
		}
	}

	.allow-member-update {
		.members-cont h5 {
			display: none;
			@media screen and (min-width: $tablet) {
				display: unset;
			}
		}
	}

	.add-members-cont {
		margin: $m-gap 0 1.2rem 0;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;

		.members-cont {
			width: 80%;
		}

		.assign-members-label {
			font-size: 0.9rem;
		}

		.add-member-icon {
			outline: none;
			font-size: 2.6rem;
			border: 3px dotted $secondary-text;
			color: $secondary-text;
			background: $secondary-text-hov;
			padding: 6px;
			border-radius: 50%;
			cursor: pointer;
			-webkit-tap-highlight-color: transparent;

			&:hover {
				border-color: $input-focus;
				outline: none;
			}
		}
	}

	.task-description,
	.attachments {
		background: $primary-bg;
		border-radius: 8px;
		line-height: 1.6;
		padding: $xs-gap;
		margin: $xs-gap 0 $s-gap 0;
	}

	.attachments {
		display: flex;
		flex-flow: row wrap;
		gap: $s-gap $s-gap;
		padding: $s-gap $xs-gap;
		position: relative;

		.spinner-cont {
			margin: 0 auto;
		}

		.spinner {
			width: 40px;
			height: 40px;
		}

		.no-attachments {
			font-size: 0.85rem;
		}

		.error-message-modal {
			margin: 0 auto;
		}

		.attachment-img {
			width: 80px;
			height: 80px;
			object-fit: cover;
			border-radius: 5px;
			border: 2px solid $primary-text;
			font-size: 0.75rem;
			text-align: center;
		}
	}

	.attach-info::after {
		content: "^ click on image to download";
		position: absolute;
		right: 5px;
		bottom: -20px;
		font-size: 0.7rem;
		font-weight: 500;
	}
}
