@import "../../../scss/variables.scss";

.task-main-cont {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	margin: $s-gap auto 0 auto;
	background-color: $primary-bg;
	border-radius: $s-br;
	padding: $s-gap $xs-gap;
	box-shadow: 5px 5px 5px #e3e3e3;
	gap: $s-gap;
	width: 100%;
	max-width: 450px;
	cursor: pointer;
	position: relative;
	-webkit-tap-highlight-color: transparent;

	@media screen and (min-width: $tablet) {
		width: 48%;

		&:last-child {
			margin: $s-gap auto 0 $xs-gap;
		}
	}

	@media screen and (min-width: 1150px) {
		width: 100%;

		&:last-child {
			margin: $s-gap auto 0 auto;
		}
	}

	.task-assigned {
		position: absolute;
		right: $xs-gap;
		top: 1.2rem;
		font-size: 1.4rem;
		color: $input-focus;
	}

	.task-name {
		width: 90%;
		padding-right: $xs-gap;
	}

	.task-attachments {
		display: flex;
		align-items: center;
		p {
			font-weight: 700;
			margin-left: $xs-gap;
		}
		svg {
			font-size: 1.5rem;
		}
	}

	.task-priority {
		text-transform: capitalize;
		padding: 5px $xs-gap;
		border-radius: $m-br;
		font-size: 0.8rem;
		font-weight: 700;

		@media screen and (min-width: $desktop) {
			font-size: 0.7rem;
		}
	}
}

.low-clr {
	background: $low-bg;
	color: $low-text;
	border: 2px solid $low-text;
}
.medium-clr {
	background: $med-bg;
	color: $med-text;
	border: 2px solid $med-text;
}
.high-clr {
	background: $high-bg;
	color: $high-text;
	border: 2px solid $high-text;
}
