@import "../../../scss/variables.scss";

.new-user-teams-cont {
	text-align: center;
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease-in-out;

	.new-user-head {
		span:nth-child(1) {
			color: $logo-red;
		}
		span:nth-child(2) {
			color: $logo-blue;
		}
	}

	.new-user-desc {
		margin: $s-gap 0 $m-gap 0;
	}

	.new-user-options {
		max-width: 500px;
		margin: 0 auto;

		@media screen and (min-width: $tablet) {
			max-width: 750px;
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;
		}

		@media screen and (min-width: $desktop) {
			max-width: 850px;
		}
	}

	.start-option {
		margin-bottom: $m-gap;

		.option-img {
			width: 80%;
			margin: 0 auto;
		}

		svg {
			color: $primary-bg;
			font-size: 2.2rem;
		}

		.custom-button {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			justify-content: space-evenly;
			margin: $xs-gap auto;
			gap: $s-gap;
		}

		.create-btn {
			background: $low-text;
		}
		.join-btn {
			background: $high-text;
		}

		&:nth-child(2) {
			.option-img {
				-webkit-transform: scaleX(-1);
				transform: scaleX(-1);
			}
		}

		@media screen and (min-width: $tablet) {
			.option-img {
				width: 90%;
			}
			.custom-button {
				margin: $s-gap auto;
			}
			&:nth-child(2) {
				.option-img {
					order: 1;
				}
			}
		}

		@media screen and (min-width: $desktop) {
			.option-img {
				width: 75%;
			}
		}
	}
}

.hide-teams-cont {
	opacity: 0;
	visibility: hidden;
}
