@import "../../scss/variables.scss";

.navbar-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	max-width: $max-width;
	margin: 0 auto;

	.teamUp-logo-cont {
		cursor: pointer;
	}
}
