@import "../../scss/variables.scss";

.navbar-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	max-width: $max-width;
	margin: 0 auto;

	.teamUp-logo-cont {
		width: 150px;
		cursor: pointer;
		margin-top: 0.5rem;
		.logo-text {
			font-size: 1.5rem;
		}
	}
}
