@import "../../../scss/variables.scss";

.create-team-cont {
	max-width: 500px;

	.team-description input {
		height: 100px;

		@media screen and (min-width: $tablet) {
			height: 128px;
		}
	}

	.error-message-modal {
		margin: $m-gap auto 0 auto;
	}

	.custom-button {
		margin: $s-gap auto 0 auto;
	}
}
