@import "../../../scss/variables.scss";

.abs-form-cont {
	background: $secondary-bg;
	padding: $m-gap $s-gap;
	border-radius: $s-br;

	@media screen and (min-width: $tablet) {
		padding: $m-gap;
	}

	.team-description input {
		height: 100px;

		@media screen and (min-width: $tablet) {
			height: 128px;
		}
	}

	.error-message-modal {
		margin-top: $s-gap;
	}

	.custom-button {
		margin: $s-gap auto 0 auto;
	}
}
