@import "../../../scss/variables.scss";

.dashboard-container {
	position: relative;
	max-width: $max-width;
	margin: 0 auto;

	.dashboard-no-tasks {
		.create-task-img {
			width: 80%;
			max-width: 320px;
			margin: 0 auto;
		}

		.no-task-desc {
			margin-top: $s-gap;
			font-weight: 700;
			text-align: center;

			.custom-button {
				margin: $s-gap auto 0 auto;
			}
		}
	}
}

.add-overlay::after {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #c5cdd382;
	z-index: 1;
}

.hide-dashboard {
	transition: $all;
	transform: scale(0);
	visibility: hidden;
	height: 0;
}
