@import "../../scss/variables.scss";

.signup-container {
	width: 100%;
	max-width: 550px;
	background-color: $primary-bg;
	padding: $m-gap $s-gap;
	margin: $l-gap auto $m-gap auto;
	border-radius: $s-br;
	box-shadow: $box-shadow;

	@media screen and (min-width: $desktop) {
		margin: $s-gap auto;
		padding: $m-gap $m-gap $xs-gap $m-gap;
		max-width: 650px;

		.signup-input-cont {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;
			margin-top: $s-gap;

			.name-field,
			.password-field {
				width: 49%;
			}

			.email-field {
				width: 100%;
			}

			.custom-input {
				margin: 0 0 $xs-gap 0;
			}
		}
	}

	h2 {
		width: 100%;
		text-align: center;
	}

	.message-modal {
		width: 100%;
		font-size: 0.85rem;
		text-align: center;
		color: $logo-red;
		font-weight: 700;
		transform: translateY(0.7rem);
	}

	.signup-btn {
		width: 50%;
		margin: $m-gap auto;
	}

	.other-auths {
		text-align: center;

		p:nth-child(1) {
			font-size: 0.8rem;
			margin-bottom: $xs-gap;
		}
		p:nth-child(3) {
			font-size: 0.8rem;
			margin: $xs-gap 0;
		}
		button {
			margin: $xs-gap auto;
		}
		.trial-btn {
			margin-top: 1.5rem;
		}

		@media screen and (min-width: $desktop) {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;

			p:nth-child(1) {
				width: 100%;
			}
			button {
				margin: $s-gap 0;
			}
		}
	}
}
