@import "variables";

*,
::before,
::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: "Poppins", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
		"Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-size: 16px;

	@media screen and (min-width: $tablet) {
		font-size: 17px;
	}
}

input,
select,
textarea,
button {
	font-family: inherit;
	font-size: inherit;
}

body {
	min-height: 100vh;
	overflow-x: hidden;
	color: $primary-text;
}

img {
	width: 100%;
	display: block;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.App {
	width: 100vw;
	min-height: 100vh;
	background-color: $main-bg;
	background-image: url("../images/background.svg");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 1.5rem $s-gap;

	@media screen and (min-width: $desktop) {
		padding: $s-gap $l-gap $l-gap $l-gap;
	}
}
