// colors
$primary-text: #001632;
$primary-bg: #fdfdfd;
$secondary-text: #00a3ff;
$secondary-bg: #f0f4f9;
$low-text: #19be72;
$low-bg: #ddf7ec;
$med-text: #ef911a;
$med-bg: #ffefd5;
$high-text: #ff5756;
$high-bg: #ffe2e2;

//gap
$s-gap: 1rem;
$m-gap: 1.5rem;
$l-gap: 3rem;

//border-radius
$s-br: 5px;
$m-br: 10px;
$l-br: 15px;
