// colors
$main-bg: #d6daeb;
$primary-text: #001632;
$primary-bg: #fdfdfd;
$secondary-text: #00a3ff;
$secondary-text-hov: #d5f1ff;
$secondary-bg: #f0f4f9;
$low-text: #19be72;
$low-bg: #ddf7ec;
$med-text: #ef911a;
$med-bg: #ffefd5;
$high-text: #ff5756;
$high-bg: #ffe2e2;
$logo-red: #b90b0a;
$logo-blue: #005f95;
$input-border: #ca8fe3;
$input-focus: #a61ee0;

//gap
$xs-gap: 0.5rem;
$s-gap: 1rem;
$m-gap: 2rem;
$l-gap: 3rem;

//border-radius
$s-br: 0.5rem;
$m-br: 1rem;
$l-br: 1.5rem;

//media-queries
$tablet: 768px;
$desktop: 992px;

//transition
$all: all 0.3s ease-in-out;

//max-width
$max-width: 1400px;

//box-shadow
$box-shadow-lg: 0px 0px 20px #959595;
$box-shadow-sm: 5px 5px 5px #b3b3b3;

//border
$test-border: 2px solid seagreen;
