@import "../../scss/variables.scss";

.auth-error-modal {
	text-align: center;
	margin-top: 25vh;

	.error-type {
		color: $logo-red;
	}

	.error-mssg {
		margin: $m-gap 0;
		word-spacing: 3px;
	}

	.redirects {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		margin: $m-gap 0;

		h4 {
			margin: 0 $m-gap;
		}
	}

	.home-btn {
		margin: 0 auto;
	}
}
