@import "../../scss/variables.scss";

.custom-select {
	display: flex;
	flex-flow: row wrap;
	margin: $xs-gap 0;
	position: relative;

	&:after {
		content: "";
		border: 8px solid transparent;
		border-top: 8px solid $primary-text;
		border-bottom: 0 none;
		position: absolute;
		left: 215px;
		top: 70%;
		pointer-events: none;

		@media screen and (min-width: $desktop) {
			left: 235px;
		}
	}

	label {
		margin: $xs-gap 0;
		position: relative;
		width: 100%;
	}

	.ip-required::after {
		content: "*";
		position: absolute;
		color: $logo-red;
		margin-left: 5px;
	}

	select {
		border: 2px solid $input-border;
		padding: $xs-gap $l-gap $xs-gap $xs-gap;
		border-radius: 5px;
		background-color: $primary-bg;
		position: relative;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		width: 90%;
		max-width: 250px;

		@media screen and (min-width: $desktop) {
			max-width: 275px;
		}

		&:focus {
			outline: none;
			border: 2px solid $input-focus;
		}
	}
}
